.root {
  margin-top: 34px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 42px;
  gap: 12px;
  font-weight: 600;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  cursor: pointer;
}

.active {
  background-color: #ffb3a6;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}
