$salmon: #ffb3a6;
$bsalmon: #fa8072;
$black: #181818;
$lblack: #282828;
$gray: #7d7d7d;
$white: #fff;
$rasberry: #c83756;
$hoverRasberry: #8b112b;
$hoverLightRasberry: rgba(201, 55, 86, 0.1);
$hoverGray: rgba(255, 179, 167, 0.3);
$hoverBlack: rgba(40, 40, 40, 0.7);
